<a href="https://colab.research.google.com/github/singh-priyanshi/TECH-2335/blob/main/3_1_List_Comprehensions_Exercise_(Summer_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions




1. **Make a copy of this notebook** so you can edit and save your own version of it. Do the work in your copy of the notebook.
2. **Update the title of your notebook** to include your name and/or net id.

3. Run any setup cells as necessary, then **write Python code** to answer the challenges.

# Prerequisites

  + [Lists](https://github.com/prof-rossetti/intro-to-python/blob/master/notes/python/datatypes/lists.md)
  + [List Comprehensions](https://docs.python.org/3/tutorial/datastructures.html?#list-comprehensions)

# Challenges - Part I


In the corresponding code cells below, use list comprehensions  to transform the provided list (i.e. `my_numbers`) in each of the following ways:

  1. Use mapping capabilities to multiply each number by 100 (e.g. `[100, 200, 300, 400, 500, 600, 700]`)
  2. Use filtering capabilities to return only the numbers greater than three (e.g. `[4, 5, 6, 7]`)
  3. Use filtering capabilities to return only the numbers greater than eight (e.g. `[]`)
  4. Use mapping and filtering capabilities to return only the numbers greater than three, each multiplied by 100 (e.g. `[400, 500, 600, 700]`)

Example final output:

```
--------------
ORIGINAL LIST: [1, 2, 3, 4, 5, 6, 7]
--------------
1) MAPPED LIST: [100, 200, 300, 400, 500, 600, 700]
--------------
2) FILTERED LIST W/ MATCHES: [4, 5, 6, 7]
--------------
3) FILTERED LIST W/O MATCHES: []
--------------
4) MAPPED AND FILTERED LIST: [400, 500, 600, 700]
```

Spoiler Alert: [List Comprehensions Exercise Solution](https://github.com/prof-rossetti/intro-to-python/blob/master/exercises/list-comprehensions/solutions.py)

In [1]:
# leave this cell as-is

my_numbers = [1, 2, 3, 4, 5, 6, 7]

print("--------------")
print("ORIGINAL LIST:", my_numbers)

--------------
ORIGINAL LIST: [1, 2, 3, 4, 5, 6, 7]

In [5]:

#
# 1) Use mapping capabilities to multiply each number by 100 (i.e. [100, 200, 300, 400, 500, 600, 700])
#

# TODO: write python code here
new_list = [x * 100 for x in my_numbers]
print (new_list)

[100, 200, 300, 400, 500, 600, 700]

In [6]:

#
# 2) Use filtering capabilities to return only the numbers greater than three (i.e. [4, 5, 6, 7])
#

# TODO: write python code here
filtered_list = [n for n in my_numbers if n > 3]
print("--------------")
print("FILTERED LIST W/ MATCHES:", filtered_list)

--------------
FILTERED LIST W/ MATCHES: [4, 5, 6, 7]

In [7]:

#
# 3) Use filtering capabilities to return only the numbers greater than eight (i.e. [] or empty list)
#

# TODO: write python code here
no_matches = [n for n in my_numbers if n > 8]
print("--------------")
print("FILTERED LIST W/O MATCHES:", no_matches)

--------------
FILTERED LIST W/O MATCHES: []

In [8]:
#
# 4) Use mapping and filtering capabilities to return only the numbers greater than three, each multiplied by 100 (i.e. [400, 500, 600, 700])
#

# TODO: write python code here
last_list = [n * 100 for n in my_numbers if n > 3]
print("--------------")
print("MAPPED AND FILTERED LIST:", last_list)

--------------
MAPPED AND FILTERED LIST: [400, 500, 600, 700]

# Challenges - Part II

In the corresponding code cells below, use list comprehensions to transform the provided list (i.e. `teams`) in each of the following ways:

  5. Use mapping and filtering capabilities to print the name of the team from the city of "New Haven" (i.e. `"Ravens"`).

> HINT: we want a string value here, might have to take the first item from a list of matching values, as applicable

  6. Use mapping and filtering capabilities to print the names of the teams from the city of "New York". Store these names in a single list and print it. Ideally also sort these names in alphabetical order (i.e. `["Mets", "Yankees"]`).

  7. Use mapping and filtering capabilities to print the names of the teams from any city that includes the name / substring of "New". Store these names in a single list and print it. Ideally also sort these names in alphabetical order (i.e. `["Mets", "Ravens", "Yankees"]`).

In [10]:
# leave this cell as-is

teams = [
    {"city": "New York", "name": "Yankees"},
    {"city": "New York", "name": "Mets"},
    {"city": "Boston", "name": "Red Sox"},
    {"city": "New Haven", "name": "Ravens"}
]

print(teams)

[{'city': 'New York', 'name': 'Yankees'}, {'city': 'New York', 'name': 'Mets'}, {'city': 'Boston', 'name': 'Red Sox'}, {'city': 'New Haven', 'name': 'Ravens'}]

In [11]:
#
# 5) Use mapping and filtering capabilities to print the name of the team from the city of "New Haven"(i.e. "Ravens").
#

# TODO: write python code here
new_haven_team = [team["name"] for team in teams if team["city"] == "New Haven"]
print(new_haven_team[0])

Ravens

In [12]:
#
# 6) Use mapping and filtering capabilities to print the names of the teams from the city of "New York".
# ... Store these names in a single list and print it.
# ... Ideally also sort these names in alphabetical order (i.e. `["Mets", "Yankees"]`).
#

# TODO: write python code here

new_york_teams = sorted([team["name"] for team in teams if team["city"] == "New York"])
print(new_york_teams)

['Mets', 'Yankees']

In [13]:
# 7) Use mapping and filtering capabilities to print the names of the teams
# ... from any city that includes the name / substring of "New".
# ... Store these names in a single list and print it.
# ... Ideally also sort these names in alphabetical order (i.e. `["Mets", "Ravens", "Yankees"]`).


# TODO: write python code here
new_teams = sorted([team["name"] for team in teams if "New" in team["city"]])
print(new_teams)

['Mets', 'Ravens', 'Yankees']